---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Distance from "../components/Distance.astro";
import Projects from "../components/Projects.svelte";
---

<Layout>
	<Sidebar />
	<main>
		<!-- <Distance /> -->

		<h1>Under construction</h1>
	</main>
</Layout>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
</style>
