---
import Barcode from "./BarcodeStatic.svelte";
import Ticker from "./Ticker.svelte";
---

<header id="sidebar" class="glass">
	<h1>malted</h1>
	<!-- <Ticker targetText="All these open windows but no fresh air" client:load /> -->
	<Barcode />
</header>

<style>
	#sidebar {
		writing-mode: vertical-lr;
		border-left: none;
		border-top: none;
		border-bottom: none;

		height: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 1rem;
		@media (max-width: 600px) {
			padding: 0.5rem;
		}
	}
	#end {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
