.glass {
	background-color: #ffffff20;
	backdrop-filter: blur(0.5rem);
	border: 1px solid #ffffff30;

	padding: 1rem;
	box-sizing: border-box;
}
.flexcol {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.vercel-lookin-ass {
	background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.5));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media (max-width: 600px) {
	.glass {
		padding: 0.5rem;
	}
}
