---
import Gradient from "../components/Gradient.svelte";

import Closed from "../components/Closed.svelte";
import { isWorkingHours } from "../lib/utils";

const tz = Astro.request.headers.get("x-vercel-ip-timezone");
const open = tz ? isWorkingHours(tz) : true;

import "./css.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>malted{!open ? " - closed" : ""}</title>
	</head>
	<body>
		<Gradient client:load />

		{open ? <slot /> : <Closed {tz} />}
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Andika";
		src: url("/fonts/Rejouice-Headline.woff2") format("woff2");
	}

	html,
	body {
		height: 100%;
	}

	:root {
		--ease: cubic-bezier(0.87, 0, 0.13, 1);

		font-family: "Andika";
		background-color: black;
		color: white;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		overflow-x: hidden;
	}
	a {
		color: inherit;
		text-decoration: none;
	}

	* {
		margin: 0;
	}
</style>
