---
import Gradient from "../components/Gradient.astro";

import Closed from "../components/Closed.astro";
import { isWorkingHours } from "../lib/utils";

const tz = Astro.request.headers.get("x-vercel-ip-timezone");
const open = tz ? isWorkingHours(tz) : true;

import "./globals.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>malted{!open ? " - closed" : ""}</title>
	</head>
	<body>
		<Gradient />

		{open ? <slot /> : <Closed {tz} />}
	</body>
</html>
